div{
    background-color: cyan;
    padding: 15px;
    margin-bottom: 10px;
}
header{
    text-align: center;
    text-decoration: blue;
    background-color: tomato;
    font-size: xx-large;
    border-color: blueviolet;
}